$def with (form)
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>Blog - Submit Form</title>
  </head>
  <body>
    <div id="content">
      <div id="header">
	<img src="/static/telecomix.png" />
	<p>
	  This is a submit form for the anonymous blog platform. It accepts normal text but is designed to be used with the Markdown syntax
	</p>
      </div>
      <div id="body">
	<form name="submit" method="post">
	  <fieldset>
	    <legend>Submit form</legend>
	    $if not form.valid: 
	        <p>Trolololol! You failed</p>
	    $:form.render()
	  </fieldset>
	</form>
      </div>
    </div>
  </body>
</html>
